.search-results__item {
  padding-bottom: 26px;
}

.search-results__item p {
  margin: 0;
  padding: 0 0 6px;
}

.search-results__item a {
  display: inline-block;
  text-decoration: none;
  padding: 0 0 6px;
}

.search-results__item a:hover {
  text-decoration: underline;
}

.search-results__item img {
  display: block;
  max-width: 70px;
  padding-bottom: 6px;
}

.more-results-button {
  font-size: 80%;
  display: inline-block;
  border: 1px solid black;
  padding: 6px;
  cursor: pointer;
}

.more-results-button:hover {
  background-color: gray;
  color: white;
}